body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero {
    background-image: url("../../../../assets/img/7.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .button {
    padding: 15px 40px;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.558);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #00e7db;
  }
  
  .secondary-button {
    background-color: transparent;
    border: 2px solid #fff;
  }
  
  .secondary-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  