<app-nav-admin></app-nav-admin>

<main class="pro col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
        <h1 class="h2">Profile</h1>

    </div>
    <div class="profile">
        <div class="profile-header">
            <img class="profile-picture" src="../../../../assets/img/sagar.png" alt="Profile Picture">
            <h1>{{ name }}</h1>
            <h2>{{ occupation }}</h2>
        </div>
        <div class="profile-description">
            <p>{{ description }}</p>
        </div>
    </div>
    

</main>

