<!-- footer -->

<footer class="footer">
    <div class="footer-container">
        <div>
            <h2>About Us </h2>
            <p>Indulge in luxury at our 5-star hotel. impeccable service, oppulent accomadations and prime location.
                Book now for an unforgetable experience.</p>
            <ul class="social-icons">
                <li class="flex">
                    <i class="bi bi-whatsapp"></i>
                </li>
                <li class="flex">
                    <i class="bi bi-facebook"></i>
                </li>
                <li class="flex">
                    <i class="bi bi-twitter"></i>
                </li>
            </ul>
        </div>

        <div>
            <h2>Useful Links</h2>
            <a href="#">Blog</a>
            <a href="#">Rooms</a>
            <a href="#">Subscription</a>
            <a href="#">Gift Card</a>
        </div>

        <div>
            <h2>Privacy</h2>
            <a href="#">Career</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Services</a>
        </div>

        <div>
            <h2>Have A Question</h2>
            <div class="contact-item">
                <span>
                    <i class="fas fa-map-marker-alt"></i>
                </span>
                <span>
                    Tower 10, Candor-TechSpace, Noida Sector 135
                </span>
            </div>
            <div class="contact-item">
                <span>
                    <i class="fas fa-phone-alt"></i>
                </span>
                <span>
                    +91-6320243545
                </span>
            </div>
            <div class="contact-item">
                <span>
                    <i class="fas fa-envelope"></i>
                </span>
                <span>
                    SDResidencies@hotmail.com
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->